@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task3</h1>
    <p class="lead">
        3.	У вас есть Entity, которое описывает класс пользователя, хранящийся в БД.
        Пользователь хранит информацию об Имени, Фамилии, Возрасте.
        Напишите пример асинхронных CRUD операций для этого класса.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Task 3</h2>
        <p>
            Module1. MultiThreading
        </p>
    </div>
</div>